
button {
            padding: 20px 20px; /* Add padding to the button */
            font-size: 16px; /* Adjust font size */
        }
        .uler {
            list-style: none;
            padding: 0;
            text-align:center;
        }
        li {
            margin: 80px 0px 0px -30px;
            color: white;
            text-shadow: -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black;
            font-size: 20px;
        }
body{
          overflow-x : hidden;
          background-color: #36454F;
          margin-left: 100;
          margin-right: 100;
          }
.header{
          color: #E7E7E7;
          text-align: center;
          font-family: Khand,sans-serif;
          background-color: black;
          background-size: cover;
  }
  .background-overlay {

              top: 0;
              left: 0;
              width: 100%;
              height: 30%;
              background-color: rgba(0, 0, 0, 0.5);
              z-index: -1;
          }
.intro {
  text-align:center;
  font-family: Geneva, Verdana, sans-serif;
  background-position: center;
  width:100%;
  height:auto;
  color: #E7E7E7;
  text-align: center;
  background-color: black;
  background-size: cover;
}
.slider {
          width: 100%;
          height: 90%;
          position:center;
          overflow-x: hidden;
          overflow-y: hidden;
          z-index: -1;


      }
      .slides {
          display: flex;
          transition: transform 0.5s ease-in-out;
      }
      .slide {
          width: 100%;
      }

.button1 {
  background-image:url('actiongif.gif');
  background-position:center;
  background-size: cover;
  width: 120px;
  height: 100px;
  padding: 100px 120px;
  font-size: 16px;
}
.button2 {
  background-image:url('kazumaa.gif');
  background-position:center;
  background-size: cover;
  width: 120px;
  height: 100px;
  padding: 100px 120px;
  font-size: 16px;
}
.button3 {
  background-image:url('bestgirl.gif');
  background-position:center;
  background-size: cover;
  width: 120px;
  height: 100px;
  padding: 100px 120px;
  font-size: 16px;
}
.button4 {
  background-image:url('romancee.gif');
  background-position:center;
  background-size: cover;
  width: 120px;
  height: 100px;
  padding: 100px 120px;
  font-size: 16px;
}
p {
  text-align: justify;
  color:white;
  background-color: black;
  padding: 10px;


}
h2 {

padding: 10px;

}
h3{
  font-family: DejaVu Sans Mono, monospace;
  color:white;
  text-shadow: -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black;
}
